params {
    input         = null
    outdir        = 'results'
    host_index    = null
    kraken2_db    = null
    kaiju_db      = null
    kaiju_fmi     = null
    container_dir = null
}

manifest {
    name = 'Remrem08007/metagenomics-hpc-workflow'
    author = 'Rémi-Antoine Joron'
    homePage = 'https://github.com/Remrem08007/metagenomics-hpc-workflow'
    description = 'Host depletion and complementary Kraken2/Kaiju taxonomic profiling for paired-end sequencing on HPC.'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version = '0.2.0'
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    apptainer {
        includeConfig 'conf/apptainer.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
}
