params {
    input         = null
    outdir        = 'results'
    host_index    = null
    kraken2_db    = null
    kaiju_db      = null
    kaiju_fmi     = 'kaiju_db.fmi'
    container_dir = null
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
}
