process {
    errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: 'tiny' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }

    withLabel: 'small' {
        cpus = 2
        memory = 6.GB
        time = 4.h
    }

    withLabel: 'medium' {
        cpus = 4
        memory = 16.GB
        time = 8.h
    }

    withLabel: 'star' {
        cpus = 16
        memory = 64.GB
        time = 24.h
    }

    withLabel: 'kraken2' {
        cpus = 24
        memory = 300.GB
        time = 48.h
    }

    withLabel: 'kaiju' {
        cpus = 24
        memory = 240.GB
        time = 48.h
    }

    withName: FASTQC {
        container = "${params.container_dir}/fastqc.sif"
    }
    withName: FASTP {
        container = "${params.container_dir}/fastp.sif"
    }
    withName: STAR_HOST_ALIGN {
        container = "${params.container_dir}/star.sif"
    }
    withName: EXTRACT_NONHOST_PAIRS {
        container = "${params.container_dir}/samtools.sif"
    }
    withName: 'VALIDATE_STAR_DEPLETION|VALIDATE_KRAKEN_HUMAN|MERGE_TAXONOMY' {
        container = "${params.container_dir}/python.sif"
    }
    withName: KRAKEN2_CLASSIFY {
        container = "${params.container_dir}/kraken2.sif"
    }
    withName: KAIJU_CLASSIFY {
        container = "${params.container_dir}/kaiju.sif"
    }
    withName: COLLECT_TAXONOMY {
        container = "${params.container_dir}/python.sif"
    }
}


report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}
