process {
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel: 'tiny' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }

    withLabel: 'small' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }

    withLabel: 'medium' {
        cpus = 4
        memory = 16.GB
        time = 8.h
    }

    withLabel: 'large' {
        cpus = 8
        memory = 48.GB
        time = 12.h
    }

    withName: FASTQC {
        container = "${params.container_dir}/fastqc.sif"
    }
    withName: FASTP {
        container = "${params.container_dir}/fastp.sif"
    }
    withName: STAR_HOST_ALIGN {
        container = "${params.container_dir}/star.sif"
    }
    withName: EXTRACT_NONHOST_PAIRS {
        container = "${params.container_dir}/samtools.sif"
    }
    withName: KRAKEN2_CLASSIFY {
        container = "${params.container_dir}/kraken2.sif"
    }
    withName: KAIJU_CLASSIFY {
        container = "${params.container_dir}/kaiju.sif"
    }
    withName: MERGE_TAXONOMY {
        container = "${params.container_dir}/python.sif"
    }
}

singularity {
    enabled = true
    autoMounts = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
}
