process {
    executor = 'slurm'
}

executor {
    queueSize = 50
    pollInterval = '30 sec'
    submitRateLimit = '10/1min'
}

// Intentionally no queue/account/partition is hard-coded.
// Supply site-specific values in an additional config file, e.g.:
//   nextflow run main.nf -profile slurm -c conf/my_cluster.config ...
