params {
    input         = "${projectDir}/tests/data/samplesheet.csv"
    outdir        = "${projectDir}/test-results"
    host_index    = "${projectDir}/tests/assets/star"
    kraken2_db    = "${projectDir}/tests/assets/kraken2"
    kaiju_db      = "${projectDir}/tests/assets/kaiju"
    container_dir = "${projectDir}/tests/assets/containers"
}

process {
    executor = 'local'
    resourceLimits = [cpus: 2, memory: 4.GB, time: 1.h]
}

singularity.enabled = false
apptainer.enabled = false
